<!doctype html>
{% load staticfiles %}

<html>
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="django project blog, news, profile">
    <meta name="author" content="Song, Seung-hun">
    <title>요청하신 페이지를 찾을수 없습니다</title>
        

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <style type="text/css">
        body {
            padding-top: 20px;
            margin : 40px;
            padding-bottom: 40px;
            background-color:#eee; 
        }
        
    </style>
    </head>
    <body>
        <div>
           <h1><b>죄송합니다. <br />요청하신 페이지를 찾을수 없습니다.</b></h1>
           <p>사이트에 일시적인 문제가 있거나 요청한 페이지가 존재하지 않습니다.</p>
           <p class=""><a href="/" class="btn btn-primary">홈페이지로 돌아가기</a></p>
        </div>
    </body>
</html>