{% extends "base.html" %}
{% block content %}
<form action="/search" class="form">
<div style="margin : 10px">
  <input class="input-medium" name="search_field" value="{{ search_field }}" placeholder="Search text">
  <button class="btn btn-mini" type="submit">Search</button>
</div>
</form>
{% for kid in kids_items %}
<div class="white-box">
    <table>
    <td>
    <a href="{{ kid.url }}" target="_blank"><img src="{{ kid.image_url }}" width="64px"></a>
    </td><td>
    <a href="{{ kid.url }}">{{ kid.title }}</a>
    </td>
    </table>
</div>
{% endfor %}
{% endblock %}
