{% extends "base.html" %}
{% block content %}
<h4>{{ name }}</h4>
<form action="/search" class="form">
<div style="margin : 10px">
  <input class="input-medium" name="search_field" value="{{ search_field }}" placeholder="Search text">
  <button class="btn btn-mini" type="submit">Search</button>
</div>
</form>
{% for kid in kids_items %}
<div class="white-box">
    <table>
    <td>
    	<a href="{{ kid.url }}" target="_blank"><img src="{{ kid.image_url }}" width="128px"></a>
    </td><td>
    	<a href="{{ kid.url }}" target="_blank">{{ kid.title }}</a>
    </td>
    </table>
</div>
{% endfor %}

{% if show_paginator %}
<div class="paginator">
    {% if has_prev %}
    <a href="?search_field={{ search_field }}&page={{ prev_page }}">&laquo; Prev</a>
    {% endif %}
    {% if has_next %}
    <a href="?search_field={{ search_field }}&page={{ next_page }}">Next &raquo;</a>
    {% endif %}
    (Page {{ page }} of {{ pages }})
</div>
{% endif %}
	
{% endblock %}
