{% extends "base.html" %}
{% block content %}
Schedule
<form action=".">
<input type="text" name="search_field" value="{{ search_field }}">
<button type="submit">Search</button>
</form>
{% for kid in kids_items %}
<div class="white-box">
    <table>
        <td>
            <a href="{{ kid.url }}" target="_blank"><img src="{{ kid.image_url }}"></a>
        </td>
        <td>
            <a href="{{ kid.url }}">{{ kid.title }}</a>
        </td>
        </table>
</div>
{% endfor %}
{% endblock %}
