{% extends "base.html" %}
{% block title %}로그인{% endblock %}
{% block content %}
<style>
input { margin-top: 5px; }
button { margin-top: 5px; }
</style>
<div class="center-box">
    <div class="right-box">
        <div class="white-box logonbox">
            <div class="page-header">
                <h4>로그인</h4>
            </div>
            {% if form.has_errors %}
            <p> 아이디나 패스워드가 다릅니다. 다시 해보세요.</p>
            {% endif %}
            <div class="page-body">
                <form method="post" action=".">
                    {{ form.name_of_field.errors }} 
                    {% csrf_token %}
                    <!-- go to success page after login -->
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <div>
                        <div class="control-group">
                            <div class="controls">
                                <lable for="username">아이디</lable><input class="form-control" type="text" id="username" name="username"  placeholder="Username">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <lable for="password">비밀번호</lable><input class="form-control" type="password" name="password" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="form-control btn btn-success">로그인</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                    <a href="/resetpassword"><font size="2">비밀번호를 잊으셨나요?</font></a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
