{% extends "base.html" %}
{% block title %}{{ temp_param }}{% endblock %}
{% block external %}
<style>
input { margin-top: 5px; }

</style>
{% endblock %}
{% block content %}

<div class="center-box">
    <div class="right-box">
        <div class="white-box logonbox">
            <div class="page-header">
                <h4>{{ temp_param }}</h4>
            </div>
            <div class="page-body">
                <form method="post" action=".">
                    {{ form.name_of_field.errors }} 
                    {% csrf_token  %}
                    {{ form.as_p }}
                    <input type="submit" class="form-control btn btn-success" value="{{ temp_param }}" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
