{% extends "base.html" %}
{% block content %}
<style>
  /* Large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    #iframe-youtube { width:970px; height:540px; }
  }

  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) and (max-width:1200px) {
    #iframe-youtube { width:970px; height:540px; }
  }

  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) and (max-width:992px) {
    #iframe-youtube { width:640px; height:360px; }
  }

  @media screen and (max-width: 768px) {
    #iframe-youtube { width:100%; height:360px; }
  }
</style>
<div class="white-box">
<h3>{{ kid.title }}</h3>
<div style="text-align:center">
<iframe id="iframe-youtube" src="https://www.youtube.com/embed/{{ kid.youtube_id }}" frameborder="0" allowfullscreen></iframe>
</div>
{% if user.is_staff %}
<br />
<a href="/delete/{{ kid.id }}" class="btn btn-danger">Delete</a>
{% endif %}
</div>
{% endblock %}
