{% extends "base.html" %}
{% block content %}

<style>
  /* Large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    #iframe-youtube { width:970px; height:540px; }
  }

  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) and (max-width:1200px) {
    #iframe-youtube { width:970px; height:540px; }
  }

  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) and (max-width:992px) {
    #iframe-youtube { width:640px; height:360px; }
  }

  @media screen and (max-width: 768px) {
    #iframe-youtube { width:100%; height:360px; }
  }
</style>
<div class="white-box form-group">
  <h4>{{ kid.title }}</h4>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ kid.youtube_id }}" frameborder="0" allowfullscreen></iframe>
    </div>
  <br />
  <div class="row">
    <div class="left col-sm-2 col-md-2">
    <!--{{ kid.id }}/favorite-->
    <a href="#" class="btn">반응<span id="span_like" value="{{ kid.id }}">{{like_count}}</span>개</a>
    </div>
    <div class="text-right col-sm-10 col-md-10">
      {% if user.is_authenticated %}
      <button class="btn btn-{% if my_click %}warning{% else %}info{% endif %}" id="button_like"><i class="glyphicon glyphicon-heart"></i></button>
      {% endif %}
      {% if user.is_staff %}
      <a href="/delete/{{ kid.id }}" class="btn btn-danger">삭제</a>
      {% endif %}
    </div>
  </div>  

</div>
{% endblock %}
