<style>

</style>
<script src="/static/kids.js"></script>
<script>
    function goto(page)
    {
        window.location=page;
    }
</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Nav</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">KidsTV</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% for cat1 in category1 %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ cat1.title }}
            </a>
            <ul class="dropdown-menu">
                {% for cat2 in cat1.category2_set.all %}
                <li role="presentation"><a href="/watch/{{ cat1.title }}/{{ cat2.title }}" role="menuitem">{{ cat2.title }}</a></li>
                {% endfor %}
            </ul>
            </li>
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav" style="float:right">
            {% if user.username %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                <ul class="dropdown-menu">
                <li role="presentation"><a href="/myfavorite">즐겨찾기</a></li>
                <li role="presentation"><a href="/profile">사용자 정보</a></li>
                <li role="presentation"><a href="/changepassword">비밀번호 변경</a></li>
                <li role="presentation"><a href="/resetpassword">비밀번호 초기화</a></li>
                {% if user.is_staff %}
                <li role="presentation"><a href="/admin">관리자</a></li>
                {% endif %}
                {% if perms.kid.add_kid %}
                <li role="presentation"><a href="/schedule">항목등록</a></li>
                {% endif %}
                </ul>   
            </li>
            
            <li><button type="button" class="btn btn-danger navbar-btn" onClick="javascript:goto('/logout')">로그아웃</button>
            </li>
            {% else %}
            <li><button type="button" class="btn btn-success navbar-btn" onClick="javascript:goto('/login')">로그인</button>
            <button type="button" class="btn btn-danger navbar-btn" onClick="javascript:goto('/register')">아이디등록</button>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>    
 

