{% extends "base.html" %}
{% block title %}즐겨찾기{% endblock %}
{% block content %}

<div class="white-box">

<form action="." class="form-search">
    <div class="input-group">
      <input type="text" class="input-medium form-control" name="search_field" value="{{ search_field }}" placeholder="검색어를 입력하세요">
      <span class="input-group-btn">
      <button class="btn btn-success" type="submit">Search</button>
      </span>
  </div>
</form>
</div>
{% for myfavor in myfavorites %}
<div class="white-box">
    <div class="media">
        <div class="media-left media-middle">
            <a href="{% url 'detail' myfavor.fav_kid.id %}" ><img src="{{ myfavor.fav_kid.image_url }}" width="128px"></a>
        </div>
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <a href="{% url 'detail' myfavor.fav_kid.id %}" >{{ myfavor.fav_kid.title }}</a>
                </div>
                <div class="col-sm-2">
                    <a href="{% url 'mydelete' myfavor.fav_kid.id %}" class="btn btn-danger right">삭제</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if show_paginator %}
<nav style="text-align:center">
    <ul class="pagination">
    {% if has_prev10 %}
    <li><a href="?search_field={{ search_field }}&page={{ prev_page10 }}">&laquo;</a></li>
    {% endif %}
    {% if has_prev %}
    <li><a href="?search_field={{ search_field }}&page={{ prev_page }}">&lt;</a></li>
    {% endif %}
    {% for page_id in page_list %}
        {% if page == page_id %}
        <li class="active"><a><b>{{ page_id }}</b></a></li>
        {% else %}
        <li><a href="?search_field={{ search_field }}&page={{ page_id }}">{{ page_id }}</a></li>
        {% endif %}
    {% endfor %}
    {% if has_next %}
    <li>
    <a href="?search_field={{ search_field }}&page={{ next_page }}">&gt;</a></li>
    {% endif %}
    {% if has_next10 %}
    <li>
    <a href="?search_field={{ search_field }}&page={{ next_page10 }}">&raquo;</a></li>
    {% endif %}    
    </ul>
</nav>
{% endif %}

{% endblock %}
