{% extends "base.html" %}
{% block content %}
<div class="white-box">
<form action="." class="form-search">
<input class="input-medium" type="text" name="search_field" value="{{ search_field }}" placeholder="Search text">
<input class="input-mini" type="text" name="page" value ="{{ page }}">
<button class="btn" type="submit">Search</button>
</form>
</div>
<form class="form-search" action="/add/" method="POST">
{% csrf_token %}
<div class="white-box">
<select name="category2">
{% for cat2 in category2 %}
<option value="{{ cat2.title }}">{{ cat2.title }}</option>
{% endfor %}
</select>
<button class="btn" type="submit">Add</button>
</div>

{% for kid_title,kid_url,kid_image in kids_items %}

<div class="white-box">
    <input type="checkbox" name="check" id="check">
    <a href="{{ kid_url }}" target="_blank"><img src="{{ kid_image }}" width="128px"></a>
    <a href="{{ kid_url }}" target="_blank">{{ kid_title }}</a>
    <input type="hidden" name="kid_title" value ="{{ kid_title }}">
    <input type="hidden" name="kid_url" value ="{{ kid_url }}">
    <input type="hidden" name="kid_image" value ="{{ kid_image }}">
</div>

{% endfor %}

</form>
{% endblock %}
