{% extends "base.html" %}
{% block content %}
<style>
input[type=checkbox] {background-color: #cccccc; size: 10px;}
</style>
<div class="white-box">
<form action="." class="form-search">
	<div class="form-group">
		<input class="input-medium form-control"  type="text" name="search_field" value="{{ search_field }}" placeholder="Search text">
		<input class="input-mini form-control" type="text" name="page" value ="{{ page }}">
		<button class="btn btn-success" type="submit">Search</button>
	</div>
</form>
</div>
<form class="form-search" action="/add/" method="POST">
{% csrf_token %}
<div class="white-box">
<select name="category2">
{% for cat2 in category2 %}
<option value="{{ cat2.title }}">{{ cat2.title }}</option>
{% endfor %}
</select>
<button class="btn btn-primary" type="submit">Add</button>
</div>

{% for item_id, kid_title, kid_url, kid_image in kids_items %}

<div class="white-box">
	<div class="media">
		<div class="media-left">
		    <a href="{{ kid_url }}" target="_blank"><img class="media-object" src="{{ kid_image }}" width="128px"></a>
	    </div>
	    <div class="media-body">
		    <input type="checkbox" name="check" id="check" value="{{ item_id }}">
		    <a href="{{ kid_url }}" target="_blank">{{ kid_title }}</a>
		    <input type="hidden" name="kid_title" value ="{{ kid_title }}">
		    <input type="hidden" name="kid_url" value ="{{ kid_url }}">
		    <input type="hidden" name="kid_image" value ="{{ kid_image }}">
	    </div>
    </div>
</div>

{% endfor %}

</form>
{% endblock %}
