{% extends "base.html" %}
{% block title %}어린이 TV{% endblock %}
{% block content %}

<div class="white-box">
<ol class="breadcrumb">
    {% if cat_name1 %}
    <li><a href="/watch/{{ cat_name1 }}">{{ cat_name1 }}</a></li>
    <li><a href="/watch/{{ cat_name1 }}/{{ cat_name2 }}">{{ cat_name2 }}</a></li>
    {% else %}
    <li><a href="/">All</a></li>
    <li> </li>
    {% endif %}
</ol>
<form action="/search" class="form-search">
    <div class="input-group">
      <input type="text" class="input-medium form-control" name="search_field" value="{{ search_field }}" placeholder="Search text">
      <span class="input-group-btn">
      <button class="btn btn-success" type="submit">찾기</button>
      </span>
  </div>
</form>
</div>
{% for kid in kids_items %}
<div class="white-box">
    <div class="media">
        <div class="media-left media-middle">
            <a href="{% url 'detail' kid.id %}" ><img src="{{ kid.image_url }}" width="128px"></a>
        </div>
        <div class="media-body">
            <a href="{% url 'detail' kid.id %}" >{{ kid.title }}</a>
                {% if user.is_staff %}
                <a href="{% url 'delete' kid.id %}" class="btn btn-danger">삭제</a>
                {% endif %}</td>
        </div>
    </div>
</div>
{% endfor %}

{% if show_paginator %}
<nav style="text-align:center">
    <ul class="pagination">
    {% if has_prev10 %}
    <li><a href="?search_field={{ search_field }}&page={{ prev_page10 }}">&laquo;</a></li>
    {% endif %}
    {% if has_prev %}
    <li><a href="?search_field={{ search_field }}&page={{ prev_page }}">&lt;</a></li>
    {% endif %}
    {% for page_id in page_list %}
        {% if page == page_id %}
        <li class="active"><a><b>{{ page_id }}</b></a></li>
        {% else %}
        <li><a href="?search_field={{ search_field }}&page={{ page_id }}">{{ page_id }}</a></li>
        {% endif %}
    {% endfor %}
    {% if has_next %}
    <li>
    <a href="?search_field={{ search_field }}&page={{ next_page }}">&gt;</a></li>
    {% endif %}
    {% if has_next10 %}
    <li>
    <a href="?search_field={{ search_field }}&page={{ next_page10 }}">&raquo;</a></li>
    {% endif %}    
    </ul>
</nav>
{% endif %}


{% endblock %}
